<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <body>
        <header class="masthead mb-5 mt-2" th:fragment="navbar">
            <div class="inner container">
                <h3 class="masthead-brand">KEAlifornia</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="#">Rooms</a>
                    <a class="nav-link active" href="#">Reservations</a>
                </nav>
            </div>
        </header>
    </body>
</html>