<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KeaLifornia Rooms</title>

    <!--  Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>KeaLifornia</h1>
    <div>
        <form th:action="@{/rooms/add}" th:method="POST" th:object="${newRoom}">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input class="form-control" th:id="name" th:placeholder="Name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label th:for="price">Price</label>
                <input class="form-control" th:id="price" th:placeholder="0.00" th:field="*{price}" required>
            </div>
            <div class="form-group">
                <label th:for="numOfGuests">Name</label>
                <input class="form-control" th:id="numOfGuests" th:placeholder="0" th:field="*{numOfGuests}" required>
            </div>
            <button th:type="submit" class="btn btn-secondary" th:value="Submit">Submit</button>
            <button th:type="reset" class="btn btn-info" th:value="Reset">Reset</button>
        </form>
    </div>

</div>
</body>
</html>