.add-btn {
  position: absolute;
  right: 10%;
  bottom: 10%;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50px;
  font-size: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}