<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Rooms')">

</head>
<body>
    <header th:replace="fragments/navbar :: navbar"></header>

    <div class="container">
        <div>
            <nav class="navbar navbar-dark bg-dark">
                <a type="button" class="btn btn-secondary btn-add-room" href="/rooms/add">Add room</a>
            </nav>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Price</th>
                    <th scope="col">Guests</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="room : ${rooms}">
                    <td th:text="${room.name}"></td>
                    <td th:text="${room.price}"></td>
                    <td th:text="${room.numOfGuests}"></td>
                    <td><a class="btn btn-warning btn-edit-room" th:href="@{'/rooms/update/' + ${room.getRoomId()}}">Edit</a></td>
                    <td><a class="btn btn-danger btn-delete-room" th:href="@{'/rooms/delete/' + ${room.getRoomId()}}">Delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>